<ul>
<% if @errors %>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>
</ul>

<%= form_for @musician do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :instrument %>
  <%= f.text_field :instrument %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :time_for_music %>
  <%= f.number_field :time_for_music %>
  <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :genre_name %>
  <%= f.submit "Submit" %>

<% end %>
