<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


  <div class="container">
    <div class="card bg-dark">
      <div class="p-3 mb-2 bg-dark text-white">
        <div class="search">
          <h3>Search by</h3>
          <%= form_tag(musicians_path, method: :get) do %>
          <a> Instrument <%= text_field_tag :instrument_search, '', class:"form-control"%></a>
          <a> Genre <%= select :genre, :genre_search, Genre.all.collect {|p| [ p.genre_name]}, {include_blank: true}%></a>
          <%= submit_tag 'Search', class: "btn btn-secondary btn-sm"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="moved-right"> -->
    <div class="container">


    <div class="col-6 scroll">

      <div class="card bg-dark" >
        <div class="card-header"><h3>Musicians</h3></div>

          <div class="p-3 mb-2 bg-dark text-white">

            <ul>
              <% @musicians.each do |musician| %>
                <li><%= link_to musician.name, musician_path(musician) %><br></li>
              <% end %><br>
            </ul>
          </div>

        </div>
      </div>
    </div>





  </body>
</html>
